@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* —— START THE GENERIC RESETS —— */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {margin: 0; padding: 0; border: 0; font-family: var(--font-system); vertical-align: baseline; background: transparent;}
main, article, aside, figure, footer, header, nav, section, details, summary {display: block; color: inherit;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: border-box;}
img {max-width: 100%;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: none;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted var(--black); cursor: help;}
table {border-collapse: separate; border-spacing: 0; text-align: left;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}
td img {vertical-align: top;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid var(--gray-500); margin: 1rem 0; padding: 0;}
input, select {vertical-align: middle;}
pre {white-space: pre-line;}
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
small {font-size: .8rem;}
strong {font-weight: bold;}
sub, sup {font-size: .8rem; line-height: 0; position: relative;}
sup {top: -0.5rem;}
sub {bottom: -0.25rem;}
label, input[type=button], input[type=submit], input[type=file], button {cursor: pointer;}
button, input, select, textarea {margin: 0; font-family: var(--font-system);}
ins {background-color: var(--highlight-color); color: var(--black); text-decoration: none;}
mark {background-color: var(--highlight-color); color: var(--black); font-style: italic; font-weight: bold;}
blockquote {padding: 2rem; border-left: 1px solid var(--gray-800);}
.clearfix:after {content: ""; display: table; clear: both;} 
h1, h2, h3, h4, h5, h6 {text-wrap: balance}
p {text-wrap: pretty;}
button {background-color: transparent; border: 0;}

/*safari input style reset*/
input[type="text"], 
input[type="password"], 
input[type="button"], 
input[type="submit"], 
textarea {appearance:none; -webkit-appearance:none; border-radius:0; -webkit-border-radius:0; border:0; outline:none; background-color:transparent;}

/*select style*/
select{-webkit-appearance:none; -moz-appearance:none; appearance:none; cursor:pointer;}
select::-ms-expand{display:none;}
/* —— END THE GENERIC RESETS —— */

//etc
html, body {width: 100%; height: 100%;}
