<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contentree JoongAng Design System</title>

    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <div id="header">
      </div>
      <!--// header -->

      <div id="container">
        <!-- leftMenu -->
        <div id="lnb" class="leftMenu"></div>
        <!--// leftMenu -->        

        <!-- contents -->
        <div class="contentWrap">
          <div class="contentArea">            
            <div class="contents component">

              <!-- 타이틀영역 -->
              <div class="titleBox">
                <h2>FNB</h2>
                <p>내비게이션은 모든 웹사이트에서 중요한 부분입니다.<br />
                  내비게이션은 3가지로 GNB, SNB, FNB이며 화면 위치에 따라 분류됩니다.</p>
              </div>
              <!--// 타이틀영역 -->

              <!-- 오브젝트 박스 -->
              <div class="objectBox sky alignTop">
                <img src="../assets/images/guide/FNB.png" alt="FNB">
              </div>
              <!--// 오브젝트 박스 -->

              <!-- 탭메뉴 -->
              <div class="tabMenu">
                <button class="act"><span>Design guide</span></button>
                <button><span>Examples</span><span class="label">code</span></button>
              </div>
              <!--// 탭메뉴 -->

              <!-- 탭컨텐츠 -->
              <div class="tabContainer">
                <!-- Disign Guide -->
                <div class="designGuide">

                  <!-- Anatomy -->
                  <div class="detailArea">
                    <div class="detailTitle">
                      <h3>Anatomy</h3>
                    </div>

                    <div class="grayContBox popupAnatomy" style="height: 238px;">
                      <div class="FNB"><span>Copyright © Joongang Group. All rights reserved</span></div>
                    </div>
                    <div class="itemBox">                    
                      <div>
                        <p class="title">1. FNB (Foot Navigation bar)</p>
                        <p>페이지의 맨 하단에 위치하며 Header에 표시할 수 없는 저작권, 사이트 내에 다른 페이지로 연결되는 링크 등의 보충정보를 표시합니다.</p>
                        <p class="txtScript">포함되는 콘텐츠 : 하단메뉴, 하단로고, 주소, 카피라이팅</p>
                      </div>
                    </div>
                  </div>
                  <!--// Anatomy -->

                  <!-- Spec -->
                  <div class="detailArea">
                    <div class="detailTitle">
                      <h3>Spec</h3>
                    </div>

                    <div class="itemBox">
                      <h4>FNB (Foot Navigation bar)</h4>
                      <div class="grayContBox popupSpec" style="height: 200px;">
                        <div class="FNB"><span>Copyright © Joongang Group. All rights reserved</span></div>
                      </div>
                      <div class="commentTxt">
                        <p>일반적으로 가로값은 1920px을 원칙으로 합니다. </p>
                        <p>푸터에 적용되는 텍스트 사이즈 및 정렬은 변경할 수 없습니다.</p>
                      </div>
                    </div>
                  </div>
                  <!--// Spec -->

                </div>
                <!--// Disign Guide -->

                <!-- Code -->
                <div class="examples" style="display: none;">

                  <!-- Basic -->
                  <div class="detailArea">
                    <div class="detailTitle">
                      <h3>Basic</h3>
                    </div>
                    
                    <div class="codeBox">
                      <div class="example align-row">
                        <div class="FNB"><span>Copyright © Joongang Group. All rights reserved</span></div>
                      </div>
                      <div class="codeTab">
                        <a href="#" class="act">HTML</a>                      
                      </div>
                      <div class="codeCont">
                        <button type="button" class="ic-copy">클립보드에 복사</button>
                        <pre class="markup"><code class="markup-html">&lt;<span class="obj">div</span> class=<span class="cls">"FNB"</span>&gt;&lt;<span class="obj">span</span>&gt;Copyright © Joongang Group. All rights reserved&lt;/<span class="obj">span</span>&gt;&lt;/<span class="obj">div</span>&gt;</code></pre>
                      </div>                    
                    </div>
                  </div>

                  <!-- CSS download-->
                  <div class="detailArea">
                    <div class="detailTitle">
                      <h3>CSS</h3>
                      <p>해당 컴포넌트만 적용 가능한 CSS 파일입니다.</p>
                      <p class="point">resest.css 가 없을 경우 깨질 수 있습니다. 컴포넌트 메인페이지에서 reset.css 파일을 다운로드 받아서 사용하세요.</p>
                    </div>

                    <div class="grayBox cssDown">
                      <a href="#" onclick="downloadCssZip()">FNB.css</a>
                      <button type="button" class="ic-down" onclick="downloadCssZip()">파일 다운로드</button>
                    </div>
                  </div>
                  <!--// CSS download -->

                </div>
                <!--// Code -->
              </div>
              <!--// 탭컨텐츠 -->

            </div>            
          </div>
        </div>
        <!--// contents -->

        <!-- footer -->
        <div class="footer">Copyright © Contentree JoongAng</div>
        <!--// footer -->
      </div>
    </div>
    
    <script src="../assets/js/jquery-3.7.0.min.js"></script>
    <script src="../assets/js/include_header.js"></script>
    <script src="../assets/js/include_lnb.js"></script>
    <script src="../assets/js/ui.js"></script>
    
    <script>
      $(document).ready(function(){
        // Load initial content
        $("#header").html(header_html);
        $("#lnb").html(lnb_html);
        lnbnav(2,12);

        function lnbnav(main, sub) {
          const menuBox = $('#lnb').find('.menuBox').eq(main);
          menuBox.addClass('act');
          menuBox.find('ul li').eq(sub).addClass('act');
        }

        // Toggle theme
        const setTheme = (theme) => {
          const htmlElement = document.documentElement;
          htmlElement.className = theme;
          const button = $('button[title="Toggle theme"]');
          button.text(theme === 'dark' ? '라이트 모드' : '다크 모드');
          localStorage.setItem('theme', theme);  // Save theme to local storage
        };

        // Bind click event to toggle button
        $('button[title="Toggle theme"]').click(function () {
          const currentTheme = document.documentElement.className;
          setTheme(currentTheme === 'dark' ? 'light' : 'dark');
        });

        // Load theme from local storage if exists
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
          setTheme(savedTheme);
        }
      });
      
      function downloadCssZip() {
        // Create a link element
        const link = document.createElement('a');
        link.href = '../assets/download/FNB.zip'; // Replace with the actual path to your icon.zip file
        link.download = 'FNB.zip'; // Set the desired filename for download
        link.click(); // Trigger the download
      }
    </script>
  </body>
</html>
