<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contentree JoongAng Design System</title>

    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <div id="header">
      </div>
      <!--// header -->

      <div id="container">
        <!-- leftMenu -->
        <div id="lnb" class="leftMenu"></div>
        <!--// leftMenu -->        

        <!-- contents -->
        <div class="contentWrap">
          <div class="contentArea">
            <div class="contents component">

              <!-- 타이틀영역 -->
              <div class="titleBox">
                <h2>Page indicator</h2>
                <p>숫자 혹은 표식(점)을 통해 전체 정보의 양과 현재 사용자가 속한 지점을 안내합니다.</p>
              </div>
              <!--// 타이틀영역 -->

              <!-- 오브젝트 박스 -->
              <div class="objectBox purple">
                <img src="../assets/images/guide/pageIndicator.png" alt="">
              </div>
              <!--// 오브젝트 박스 -->

              <!-- 탭메뉴 -->
              <div class="tabMenu">
                <button class="act"><span>Design guide</span></button>
                <button><span>Examples</span><span class="label">code</span></button>
              </div>
              <!--// 탭메뉴 -->

              <!-- 탭컨텐츠 -->
              <div class="tabContainer">
                <!-- Disign Guide -->
                <div class="designGuide">

                  <!-- Anatomy -->
                  <div class="detailArea">
                    <div class="detailTitle">
                      <h3>Anatomy</h3>
                    </div>
    
                    <div class="grayContBox indicatorAnatomy">
                      <div class="spliterWrap" style="width: 100%; height: 238px;">
                        <div class="alignCenter">
                          <div class="indicator">
                            <div class="dot">
                              <span class="act"></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                            </div>                          
                          </div>
                        </div>

                        <div class="alignCenter">
                          <div class="indicator">
                            <div class="number">
                              <span class="act">3</span>
                              <span class="middleDot"></span>
                              <span>6</span>
                            </div>                          
                          </div>
                        </div>
                      </div>
                      <div class="guidePoint" style="left: 141px; top: 69px;"></div>
                    </div>
                    <div class="itemBox gap-16">
                      <p><span class="title">1. Activated dot</span>사용자가 현재 보고 있는 페이지 입니다.</p>
                      <p><span class="title">2. Inactive dot</span>전체 페이지 수를 나타내며, 비활성 도트로 표시됩니다.</p>
                      <p><span class="title">3. Background area</span>숫자의 가독성을 높이기 위해 배경과의 구분이 필요한 경우 사용합니다.</p>
                      <p><span class="title">4. Current page</span>사용자가 현재 보고 있는 페이지 입니다.</p>
                      <p><span class="title">5. Total page</span>전체 페이지 숫자입니다.</p>
                    </div>
                  </div>
                  <!--// Anatomy -->

                  <!-- Spec -->
                  <div class="detailArea">
                    <div class="detailTitle">
                      <h3>Spec</h3>
                    </div>

                    <div class="colBox">
                      <div class="itemBox">
                        <h4>Dot Indicator</h4>
                        <div class="grayContBox dotSpec" style="height: 172px;">
                          <div class="indicator">
                            <div class="dot">
                              <span class="act"></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                            </div>                          
                          </div>
                          <div class="guidePoint" style="left: 206px; top: 65px;"></div>
                        </div>
                        <div class="commentTxt">
                          <p>Dot은 최대 5개까지 사용가능하며, Center 정렬로 사용합니다.</p>
                        </div>
                      </div>
                      
                      <div class="itemBox">
                        <h4>Number Indicator</h4>
                        <div class="grayContBox numberSpec" style="height: 172px;">
                          <div class="indicator">
                            <div class="number">
                              <span class="act">3</span>
                              <span class="middleDot"></span>
                              <span>6</span>
                            </div>                          
                          </div>
                          <div class="guidePoint" style="left: 219px; top: 58px;"></div>
                        </div>
                        <div class="commentTxt">
                          <p>Background area 는 #000000 50%를 고정으로 사용합니다.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--// Spec -->
                  
                  <!-- Usage -->
                  <div class="detailArea">
                    <div class="detailTitle">
                      <h3>Usage</h3>
                      <p>인디케이터는 콘텐츠의 구성 내용에 따라 Dot Indicator, Number Indicator로 분류됩니다.</p>
                    </div>

                    <div class="itemBox">
                      <h4>Dot Indicator</h4>
                      <div class="borderBox">
                        <div class="spliterWrap" style="width: 100%; height: 194px;">
                          <div class="alignCenter" style="background-color: black;">
                            <div class="indicator">
                              <div class="dot dark">
                                <span class="act"></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                              </div>                          
                            </div>
                            <div class="guideTextCol" style="top: 16px; left: 16px;"><span style="color: var(--gray-400);">bg : Dark</span></div>
                          </div>
    
                          <div class="alignCenter" style="background-color: white;">
                            <div class="indicator">
                              <div class="dot">
                                <span class="act"></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                              </div>
                            </div>
                            
                            <div class="guideTextCol" style="top: 16px; left: 16px;"><span style="color: var(--gray-400);">bg : Light</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="commentTxt">
                        <p>Dot Indicator의 경우 ui가 배치되는 배경 컬러에 따라 다르게 사용합니다.</p>
                        <p>Dot Indicator는 최대 5개 까지 사용 가능하고, 5개를 초과할 시  넘버인디케이터를 사용합니다.</p>
                      </div>
                    </div>

                    <div class="itemBox">
                      <h4>Number Indicator</h4>
                      <div class="grayContBox" style="height: 504px;">
                        <div class="movie Dark">
                          <img src="../assets/images/layout/img_movie.png" alt="영상 샘플 이미지">                          
                          <div class="navBtn" style="left: 16px;"><img src="../assets/images/icon/black/ic_arrow_left.svg" alt="뒤로 아이콘"></div>                        
                          <div class="navBtn" style="right: 16px;"><img src="../assets/images/icon/black/ic_arrow_right.svg" alt="앞으로 아이콘"></div>

                          <div class="indicator right">
                            <div class="number">
                              <span class="act">3</span>
                              <span class="middleDot"></span>
                              <span>6</span>
                            </div>                        
                          </div>
                        </div>
                        <div style="position: absolute; top: 72px; left: 814px; width: 24px; height: 24px;"><img src="../assets/images/layout/ic_delete.svg" alt=""></div>
                      </div>
                      <div class="commentTxt">
                        <p>Number Indicator는 콘텐츠의 개수가 명확하게 표시되어야 하는 경우 사용합니다.</p>
                        <p>이미지 내부 우측 하단에 겹쳐서 고정으로 사용합니다.</p>
                      </div>
                    </div>                                    
                  </div>
                  <!--// Usage -->

                </div>
                <!--// Disign Guide -->

                <!-- Code -->
                <div class="examples" style="display: none;">

                  <!-- Basic -->
                  <div class="detailArea">
                    <div class="detailTitle">
                      <h3>Basic</h3>
                    </div>
                    
                    <div class="itemBox">
                      <h4>Dot Indicator (BG Light)</h4>
                      <div class="codeBox">
                        <div class="example align-row gray-100 center">
                          <div class="movie">
                            <div class="navBtn" style="left: 16px;"><img src="../assets/images/icon/black/ic_arrow_left.svg" alt="뒤로 아이콘"></div>                        
                            <div class="navBtn" style="right: 16px;"><img src="../assets/images/icon/black/ic_arrow_right.svg" alt="앞으로 아이콘"></div>
    
                            <div class="indicator center">
                              <div class="dot">
                                <span class="act"></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                              </div>                      
                            </div>
                          </div>
                        </div>
                        <div class="codeTab">
                          <a href="#" class="act">HTML</a>                      
                        </div>
                        <div class="codeCont">
                          <button type="button" class="ic-copy">클립보드에 복사</button>
                          <pre class="markup"><code class="markup-html">&lt;<span class="obj">div</span> class=<span class="cls">"indicator center"</span>&gt;
  &lt;<span class="obj">div</span> class=<span class="cls">"dot"</span>&gt;
    &lt;<span class="obj">span</span> class=<span class="cls">"act"</span>&gt;&lt;/<span class="obj">span</span>&gt;
    &lt;<span class="obj">span</span>&gt;&lt;/<span class="obj">span</span>&gt;
    &lt;<span class="obj">span</span>&gt;&lt;/<span class="obj">span</span>&gt;
    &lt;<span class="obj">span</span>&gt;&lt;/<span class="obj">span</span>&gt;
    &lt;<span class="obj">span</span>&gt;&lt;/<span class="obj">span</span>&gt;
  &lt;/<span class="obj">div</span>&gt;                      
&lt;/<span class="obj">div</span>&gt;</code></pre>
                        </div>                    
                      </div>
                    </div>

                    <div class="itemBox">
                      <h4>Dot Indicator (BG Dark)</h4>
                      <div class="codeBox">
                        <div class="example align-row center">
                          <div class="movie Dark">
                            <div class="navBtn" style="left: 16px;"><img src="../assets/images/icon/black/ic_arrow_left.svg" alt="뒤로 아이콘"></div>                        
                            <div class="navBtn" style="right: 16px;"><img src="../assets/images/icon/black/ic_arrow_right.svg" alt="앞으로 아이콘"></div>
    
                            <div class="indicator center">
                              <div class="dot dark">
                                <span class="act"></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                              </div>                      
                            </div>
                          </div>
                        </div>
                        <div class="codeTab">
                          <a href="#" class="act">HTML</a>                      
                        </div>
                        <div class="codeCont">
                          <button type="button" class="ic-copy">클립보드에 복사</button>
                          <pre class="markup"><code class="markup-html">&lt;<span class="obj">div</span> class=<span class="cls">"indicator center"</span>&gt;
  &lt;<span class="obj">div</span> class=<span class="cls">"dot dark"</span>&gt;
    &lt;<span class="obj">span</span> class=<span class="cls">"act"</span>&gt;&lt;/<span class="obj">span</span>&gt;
    &lt;<span class="obj">span</span>&gt;&lt;/<span class="obj">span</span>&gt;
    &lt;<span class="obj">span</span>&gt;&lt;/<span class="obj">span</span>&gt;
    &lt;<span class="obj">span</span>&gt;&lt;/<span class="obj">span</span>&gt;
    &lt;<span class="obj">span</span>&gt;&lt;/<span class="obj">span</span>&gt;
  &lt;/<span class="obj">div</span>&gt;                      
&lt;/<span class="obj">div</span>&gt;</code></pre>
                        </div>                    
                      </div>
                    </div>

                    <div class="itemBox">
                      <h4>Number Indicator</h4>
                      <div class="codeBox">
                        <div class="example align-row center">
                          <div class="movie Dark" style="background-color: #414141;">
                            <div class="navBtn" style="left: 16px;"><img src="../assets/images/icon/black/ic_arrow_left.svg" alt="뒤로 아이콘"></div>                        
                            <div class="navBtn" style="right: 16px;"><img src="../assets/images/icon/black/ic_arrow_right.svg" alt="앞으로 아이콘"></div>
    
                            <div class="indicator right">
                              <div class="number">
                                <span class="act">3</span>
                                <span class="middleDot"></span>
                                <span>6</span>
                              </div>                        
                            </div>
                          </div>
                        </div>
                        <div class="codeTab">
                          <a href="#" class="act">HTML</a>                      
                        </div>
                        <div class="codeCont">
                          <button type="button" class="ic-copy">클립보드에 복사</button>
                          <pre class="markup"><code class="markup-html">&lt;<span class="obj">div</span> class=<span class="cls">"indicator right"</span>&gt;
  &lt;<span class="obj">div</span> class=<span class="cls">"number"</span>&gt;
    &lt;<span class="obj">span</span> class=<span class="cls">"act"</span>&gt;3&lt;/<span class="obj">span</span>&gt;
    &lt;<span class="obj">span</span> class=<span class="cls">"middleDot"</span>&gt;&lt;/<span class="obj">span</span>&gt;
    &lt;<span class="obj">span</span>&gt;6&lt;/<span class="obj">span</span>&gt;
  &lt;/<span class="obj">div</span>&gt;                      
&lt;/<span class="obj">div</span>&gt;</code></pre>
                        </div>                    
                      </div>
                    </div>
                  </div>

                  <!-- CSS download-->
                  <div class="detailArea">
                    <div class="detailTitle">
                      <h3>CSS</h3>
                      <p>해당 컴포넌트만 적용 가능한 CSS 파일입니다.</p>
                      <p class="point">resest.css 가 없을 경우 깨질 수 있습니다. 컴포넌트 메인페이지에서 reset.css 파일을 다운로드 받아서 사용하세요.</p>
                    </div>

                    <div class="grayBox cssDown">
                      <a href="#" onclick="downloadCssZip()">pageIndicator.css</a>
                      <button type="button" class="ic-down" onclick="downloadCssZip()">파일 다운로드</button>
                    </div>
                  </div>
                  <!--// CSS download -->

                </div>
                <!--// Code -->
              </div>
              <!--// 탭컨텐츠 -->

            </div>
          </div>
        </div>
        <!--// contents -->

        <!-- footer -->
        <div class="footer">Copyright © Contentree JoongAng</div>
        <!--// footer -->
      </div>
    </div>
    
    <script src="../assets/js/jquery-3.7.0.min.js"></script>
    <script src="../assets/js/include_header.js"></script>
    <script src="../assets/js/include_lnb.js"></script>
    <script src="../assets/js/ui.js"></script>
    
    <script>
      $(document).ready(function(){
        // Load initial content
        $("#header").html(header_html);
        $("#lnb").html(lnb_html);
        lnbnav(2,7);

        function lnbnav(main, sub) {
          const menuBox = $('#lnb').find('.menuBox').eq(main);
          menuBox.addClass('act');
          menuBox.find('ul li').eq(sub).addClass('act');
        }

        // Toggle theme
        const setTheme = (theme) => {
          const htmlElement = document.documentElement;
          htmlElement.className = theme;
          const button = $('button[title="Toggle theme"]');
          button.text(theme === 'dark' ? '라이트 모드' : '다크 모드');
          localStorage.setItem('theme', theme);  // Save theme to local storage
        };

        // Bind click event to toggle button
        $('button[title="Toggle theme"]').click(function () {
          const currentTheme = document.documentElement.className;
          setTheme(currentTheme === 'dark' ? 'light' : 'dark');
        });

        // Load theme from local storage if exists
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
          setTheme(savedTheme);
        }        
      });

      function downloadCssZip() {
        // Create a link element
        const link = document.createElement('a');
        link.href = '../assets/download/pageIndicator.zip'; // Replace with the actual path to your icon.zip file
        link.download = 'pageIndicator.zip'; // Set the desired filename for download
        link.click(); // Trigger the download
      }
    </script>
  </body>
</html>
