<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contentree JoongAng Design System</title>

    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <div id="header">
      </div>
      <!--// header -->

      <div id="container">
        <!-- leftMenu -->
        <div id="lnb" class="leftMenu"></div>
        <!--// leftMenu -->        

        <!-- contents -->
        <div class="contentWrap">
          <div class="contentArea">
            <div class="contents component">

              <!-- 타이틀영역 -->
              <div class="titleBox">
                <h2>Table</h2>
                <p>Table에는 데이터가 표시되며 데이터를 조회 / 입력할 수 있습니다.</p>
              </div>
              <!--// 타이틀영역 -->

              <!-- 오브젝트 박스 -->
              <div class="objectBox purple">
                <img src="../assets/images/guide/table.png" alt="">
              </div>
              <!--// 오브젝트 박스 -->

              <!-- 탭메뉴 -->
              <div class="tabMenu">
                <button class="act"><span>Design guide</span></button>
                <button><span>Examples</span><span class="label">code</span></button>
              </div>
              <!--// 탭메뉴 -->

              <!-- 탭컨텐츠 -->
              <div class="tabContainer">
                <!-- Disign Guide -->
                <div class="designGuide">

                  <!-- Anatomy -->
                  <div class="detailArea">
                    <div class="detailTitle">
                      <h3>Anatomy</h3>
                    </div>
    
                    <div class="borderBox tableAnatomy" style="height: 452px; background-color: white;">
                      <div class="tableArea" style="width: 883px;">
                        <table summery="Table Anatomy">
                          <caption>Table Anatomy 예시</caption>
                          <colgroup>
                            <col style="width: 75px;">
                            <col style="width: 75px;">
                            <col style="width: auto;">
                            <col style="width: 200px;">
                          </colgroup>
                          <thead>
                            <tr>
                              <th><label class="checkbox" for="check_1"><input type="checkbox" name="checkbox" id="check_1" hidden><i></i></label></th>
                              <th>번호</th>
                              <th>프로그램</th>
                              <th>기간</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><label class="checkbox" for="check_2"><input type="checkbox" name="checkbox" id="check_2" hidden checked><i></i></label></td>
                              <td>1</td>
                              <td><div class="ellipsis">1호가 될 순 없어</div></td>
                              <td>2021.01.01 ~ 2021.12.31</td>
                            </tr>
                            <tr>
                              <td><label class="checkbox" for="check_3"><input type="checkbox" name="checkbox" id="check_3" hidden checked><i></i></label></td>
                              <td>2</td>
                              <td><div class="ellipsis">1호가 될 순 없어</div></td>
                              <td>2021.01.01 ~ 2021.12.31</td>
                            </tr>
                            <tr>
                              <td><label class="checkbox" for="check_4"><input type="checkbox" name="checkbox" id="check_4" hidden checked><i></i></label></td>
                              <td>3</td>
                              <td><div class="ellipsis">1호가 될 순 없어</div></td>
                              <td>2021.01.01 ~ 2021.12.31</td>
                            </tr>
                            <tr>
                              <td><label class="checkbox" for="check_5"><input type="checkbox" name="checkbox" id="check_5" hidden checked><i></i></label></td>
                              <td>4</td>
                              <td><div class="ellipsis">1호가 될 순 없어</div></td>
                              <td>2021.01.01 ~ 2021.12.31</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div class="guidePoint" style="left: 453px; top: 50px;"></div>
                    </div>
                    <div class="itemBox gap-16">                    
                      <p><span class="title">1. Table header</span>표시될 데이터의 제목을 나타냅니다.</p>                    
                      <p><span class="title">2. List</span>목록에는 제목에 해당되는 데이터가 표시됩니다.</p>
                    </div>
                  </div>
                  <!--// Anatomy -->

                  <!-- Spec -->
                  <div class="detailArea">
                    <div class="detailTitle">
                      <h3>Spec</h3>
                      <p>Table은 기본적으로 다음과 같은 간격 및 행간 값을 가지며, 화면 상태에 따라 유동적으로 변경될 수 있습니다.</p>
                    </div>

                    <div class="borderBox tableSpec" style="height: 426px; background-color: white;">
                      <div class="tableArea" style="width: 883px;">
                        <table summery="Table Spec">
                          <caption>Table Spec 예시</caption>
                          <colgroup>
                            <col style="width: 75px;">
                            <col style="width: 75px;">
                            <col style="width: auto;">
                            <col style="width: 200px;">
                          </colgroup>
                          <thead>
                            <tr>
                              <th><label class="checkbox" for="check_6"><input type="checkbox" name="checkbox" id="check_6" hidden><i></i></label></th>
                              <th>번호</th>
                              <th>프로그램</th>
                              <th>기간</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><label class="checkbox" for="check_7"><input type="checkbox" name="checkbox" id="check_7" hidden checked><i></i></label></td>
                              <td>1</td>
                              <td><div class="ellipsis">1호가 될 순 없어</div></td>
                              <td>2021.01.01 ~ 2021.12.31</td>
                            </tr>
                            <tr>
                              <td><label class="checkbox" for="check_8"><input type="checkbox" name="checkbox" id="check_8" hidden checked><i></i></label></td>
                              <td>2</td>
                              <td><div class="ellipsis">1호가 될 순 없어</div></td>
                              <td>2021.01.01 ~ 2021.12.31</td>
                            </tr>
                            <tr>
                              <td><label class="checkbox" for="check_9"><input type="checkbox" name="checkbox" id="check_9" hidden checked><i></i></label></td>
                              <td>3</td>
                              <td><div class="ellipsis">1호가 될 순 없어</div></td>
                              <td>2021.01.01 ~ 2021.12.31</td>
                            </tr>
                            <tr>
                              <td><label class="checkbox" for="check_10"><input type="checkbox" name="checkbox" id="check_10" hidden checked><i></i></label></td>
                              <td>4</td>
                              <td><div class="ellipsis">1호가 될 순 없어</div></td>
                              <td>2021.01.01 ~ 2021.12.31</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div class="guidePoint" style="left: 48px; top: 50px;"></div>
                    </div>

                    <div class="commentTxt">
                      <p>일반적으로 데이터 열간 패딩은 24px 고정입니다.</p>
                    </div>
                  </div>
                  <!--// Spec -->

                  <!-- Type -->
                  <div class="detailArea">
                    <div class="detailTitle">
                      <h3>Type</h3>
                      <p>테이블은 2가지 타입으로 구성되며, 데이터의 내용에 따라 형태가  다르게 보여집니다.</p>
                    </div>

                    <div class="itemBox">
                      <h4>Horizontal type</h4>
                      <div class="borderBox" style="height: 427px; background-color: white;">
                        <div class="tableArea" style="width: 883px;">
                          <table summery="Table Type">
                            <caption>Table Type 예시</caption>
                            <colgroup>
                              <col style="width: 75px;">
                              <col style="width: 75px;">
                              <col style="width: auto;">
                              <col style="width: 200px;">
                            </colgroup>
                            <thead>
                              <tr>
                                <th><label class="checkbox" for="check_11"><input type="checkbox" name="checkbox" id="check_11" hidden><i></i></label></th>
                                <th>번호</th>
                                <th>프로그램</th>
                                <th>기간</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><label class="checkbox" for="check_12"><input type="checkbox" name="checkbox" id="check_12" hidden checked><i></i></label></td>
                                <td>1</td>
                                <td><div class="ellipsis">One line long text One line long text One line long text One line long text One lin</div></td>
                                <td>2021.01.01 ~ 2021.12.31</td>
                              </tr>
                              <tr>
                                <td><label class="checkbox" for="check_13"><input type="checkbox" name="checkbox" id="check_13" hidden checked><i></i></label></td>
                                <td>2</td>
                                <td><div class="ellipsis">1호가 될 순 없어</div></td>
                                <td>2021.01.01 ~ 2021.12.31</td>
                              </tr>
                              <tr>
                                <td><label class="checkbox" for="check_14"><input type="checkbox" name="checkbox" id="check_14" hidden checked><i></i></label></td>
                                <td>3</td>
                                <td><div class="ellipsis">1호가 될 순 없어</div></td>
                                <td>2021.01.01 ~ 2021.12.31</td>
                              </tr>
                              <tr>
                                <td><label class="checkbox" for="check_15"><input type="checkbox" name="checkbox" id="check_15" hidden checked><i></i></label></td>
                                <td>4</td>
                                <td><div class="ellipsis">1호가 될 순 없어</div></td>
                                <td>2021.01.01 ~ 2021.12.31</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="commentTxt">
                        <p>기본적으로 가로형 테이블은 데이터 조회를 목적으로 사용합니다.</p>
                        <p>일반적으로 데이터는 1줄로 노출하며, 1줄을 넘어갈 경우 말줄임 표시를 적용합니다. (단, 2줄이상 노출이 필요할 경우 Long text 용법을 활용합니다.)</p>
                      </div>
                    </div>

                    <div class="itemBox">
                      <h4>Vertical type</h4>
                      <div class="borderBox" style="height: 365px; background-color: white;">
                        <div class="tableArea" style="width: 758px;">
                          <table class="dataTable" summery="Table Type">
                            <caption>Table Type 예시</caption>
                            <colgroup>
                              <col style="width: 160px;">
                              <col style="width: auto;">
                            </colgroup>
                            <tbody>
                              <tr>
                                <th>아이디</th>
                                <td><label class="inputBox"><input type="text" placeholder="Placeholder"></label></td>
                              </tr>
                              <tr>
                                <th>이름</th>
                                <td><label class="inputBox"><input type="text" placeholder="Placeholder"></label></td>
                              </tr>
                              <tr>
                                <th>권한 등급</th>
                                <td>
                                  <div class="formCol">
                                    <label class="customSelect">
                                      <select>
                                        <option value="0">Value</option>
                                        <option value="1">Value</option>
                                      </select>
                                    </label>
                                    <label class="inputBox"><input type="text" placeholder="Placeholder"></label>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th>휴대폰 번호</th>
                                <td>
                                  <div class="formCol">
                                    <label class="customSelect">
                                      <select>
                                        <option value="0">010</option>
                                        <option value="1">011</option>
                                      </select>
                                    </label>
                                    <label class="inputBox"><input type="text" placeholder="Placeholder"></label>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="commentTxt">
                        <p>주로 데이터 입력이 필요할 때 사용합니다.</p>
                        <p>table header는 좌측에 표시하며 텍스트 정렬은 좌측정렬을 적용합니다.</p>
                      </div>
                    </div>
                  </div>
                  <!--// States -->

                  <!-- Usage -->
                  <div class="detailArea">
                    <div class="detailTitle">
                      <h3>Usage</h3>
                    </div>

                    <div class="itemBox">
                      <h4>Long text</h4>
                      <div class="borderBox" style="height: 500px; background-color: white;">
                        <div class="tableArea" style="width: 883px;">
                          <table class="longText" summery="Table Long text">
                            <caption>Table Long text 예시</caption>
                            <colgroup>
                              <col style="width: 75px;">
                              <col style="width: 75px;">
                              <col style="width: auto;">
                              <col style="width: 200px;">
                            </colgroup>
                            <thead>
                              <tr>
                                <th><label class="checkbox" for="check_16"><input type="checkbox" name="checkbox" id="check_16" hidden><i></i></label></th>
                                <th>번호</th>
                                <th>프로그램</th>
                                <th>기간</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><label class="checkbox" for="check_17"><input type="checkbox" name="checkbox" id="check_17" hidden checked><i></i></label></td>
                                <td>1</td>
                                <td><div class="ellipsis">Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text </div></td>
                                <td>2021.01.01 ~ 2021.12.31</td>
                              </tr>
                              <tr>
                                <td><label class="checkbox" for="check_18"><input type="checkbox" name="checkbox" id="check_18" hidden checked><i></i></label></td>
                                <td>2</td>
                                <td><div class="ellipsis">Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text </div></td>
                                <td>2021.01.01 ~ 2021.12.31</td>
                              </tr>
                              <tr>
                                <td><label class="checkbox" for="check_19"><input type="checkbox" name="checkbox" id="check_19" hidden checked><i></i></label></td>
                                <td>3</td>
                                <td><div class="ellipsis">This is program name</div></td>
                                <td>2021.01.01 ~ 2021.12.31</td>
                              </tr>
                              <tr>
                                <td><label class="checkbox" for="check_20"><input type="checkbox" name="checkbox" id="check_20" hidden checked><i></i></label></td>
                                <td>4</td>
                                <td><div class="ellipsis">This is program name</div></td>
                                <td>2021.01.01 ~ 2021.12.31</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                    <div class="itemBox">
                      <h4>Horizontal type + Thumbnail</h4>
                      <div class="borderBox" style="height: 550px; background-color: white;">
                        <div class="tableArea" style="width: 883px;">
                          <table class="thumbnail" summery="Table Thumbnail">
                            <caption>Table Thumbnail 예시</caption>
                            <colgroup>
                              <col style="width: 75px;">
                              <col style="width: 212px;">
                              <col style="width: auto;">
                            </colgroup>
                            <thead>
                              <tr>
                                <th>순서</th>
                                <th>대체이미지</th>
                                <th>영상제목</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td><div class="thumb"><img src="../assets/images/layout/img_sum.png" alt="샘플이미지"></div></td>
                                <td><div class="ellipsis">Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text </div></td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td><div class="thumb"><img src="../assets/images/layout/img_sum.png" alt="샘플이미지"></div></td>
                                <td><div class="ellipsis">Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text </div></td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td><div class="thumb"><img src="../assets/images/layout/img_sum.png" alt="샘플이미지"></div></td>
                                <td><div class="ellipsis">Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text </div></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--// Usage -->

                </div>
                <!--// Disign Guide -->

                <!-- Code -->
                <div class="examples" style="display: none;">

                  <!-- Horizontal type -->
                  <div class="detailArea">
                    <div class="detailTitle">
                      <h3>Horizontal type</h3>
                      <p>기본적으로 가로형 테이블은 데이터 조회를 목적으로 사용합니다. </p>
                    </div>
                    
                    <div class="codeBox">
                      <div class="example align-row">
                        <div class="tableArea" style="width: 883px;">
                          <table summery="Horizontal type">
                            <caption>Horizontal type 예시</caption>
                            <colgroup>
                              <col style="width: 75px;">
                              <col style="width: 75px;">
                              <col style="width: auto;">
                              <col style="width: 200px;">
                            </colgroup>
                            <thead>
                              <tr>
                                <th><label class="checkbox" for="check_01"><input type="checkbox" name="checkbox" id="check_01" hidden><i></i></label></th>
                                <th>번호</th>
                                <th>프로그램</th>
                                <th>기간</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><label class="checkbox" for="check_02"><input type="checkbox" name="checkbox" id="check_02" hidden checked><i></i></label></td>
                                <td>1</td>
                                <td><div class="ellipsis">1호가 될 순 없어</div></td>
                                <td>2021.01.01 ~ 2021.12.31</td>
                              </tr>
                              <tr>
                                <td><label class="checkbox" for="check_03"><input type="checkbox" name="checkbox" id="check_03" hidden checked><i></i></label></td>
                                <td>2</td>
                                <td><div class="ellipsis">1호가 될 순 없어</div></td>
                                <td>2021.01.01 ~ 2021.12.31</td>
                              </tr>
                              <tr>
                                <td><label class="checkbox" for="check_04"><input type="checkbox" name="checkbox" id="check_04" hidden checked><i></i></label></td>
                                <td>3</td>
                                <td><div class="ellipsis">1호가 될 순 없어</div></td>
                                <td>2021.01.01 ~ 2021.12.31</td>
                              </tr>
                              <tr>
                                <td><label class="checkbox" for="check_05"><input type="checkbox" name="checkbox" id="check_05" hidden checked><i></i></label></td>
                                <td>4</td>
                                <td><div class="ellipsis">1호가 될 순 없어</div></td>
                                <td>2021.01.01 ~ 2021.12.31</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="codeTab">
                        <a href="#" class="act">HTML</a>                      
                      </div>
                      <div class="codeCont">
                        <button type="button" class="ic-copy">클립보드에 복사</button>
                        <pre class="markup"><code class="markup-html">&lt;<span class="obj">div</span> class=<span class="cls">"tableArea"</span>&gt;
  &lt;<span class="obj">table</span>&gt;
    &lt;<span class="obj">colgroup</span>&gt;
      &lt;<span class="obj">col</span> style="width: 75px;"&gt;
      &lt;<span class="obj">col</span> style="width: 75px;"&gt;
      &lt;<span class="obj">col</span> style="width: auto;"&gt;
      &lt;<span class="obj">col</span> style="width: 200px;"&gt;
    &lt;/<span class="obj">colgroup</span>&gt;
    &lt;<span class="obj">thead</span>&gt;
      &lt;<span class="obj">tr</span>&gt;
        &lt;<span class="obj">th</span>&gt;Title1&lt;/<span class="obj">th</span>&gt;
        &lt;<span class="obj">th</span>&gt;Title2&lt;/<span class="obj">th</span>&gt;
        &lt;<span class="obj">th</span>&gt;Title3&lt;/<span class="obj">th</span>&gt;
        &lt;<span class="obj">th</span>&gt;Title4&lt;/<span class="obj">th</span>&gt;
      &lt;/<span class="obj">tr</span>&gt;
    &lt;/<span class="obj">thead</span>&gt;
    &lt;<span class="obj">tbody</span>&gt;
      &lt;<span class="obj">tr</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;1&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;<span class="obj">div</span> class=<span class="cls">"ellipsis"</span>&gt;Data Sample&lt;/<span class="obj">div</span>&gt;&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;/<span class="obj">td</span>&gt;
      &lt;/<span class="obj">tr</span>&gt;
      &lt;<span class="obj">tr</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;2&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;<span class="obj">div</span> class=<span class="cls">"ellipsis</span>"&gt;Data Sample&lt;/<span class="obj">div</span>&gt;&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;/<span class="obj">td</span>&gt;
      &lt;/<span class="obj">tr</span>&gt;
      &lt;<span class="obj">tr</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;3&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;<span class="obj">div</span> class=<span class="cls">"ellipsis"</span>&gt;Data Sample&lt;/<span class="obj">div</span>&gt;&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;/<span class="obj">td</span>&gt;
      &lt;/<span class="obj">tr</span>&gt;
      &lt;<span class="obj">tr</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;4&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;<span class="obj">div</span> class=<span class="cls">"ellipsis"</span>&gt;Data Sample&lt;/<span class="obj">div</span>&gt;&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;/<span class="obj">td</span>&gt;
      &lt;/<span class="obj">tr</span>&gt;
    &lt;/<span class="obj">tbody</span>&gt;
  &lt;/<span class="obj">table</span>&gt;
&lt;/<span class="obj">div</span>&gt;</code></pre>
                      </div>                    
                    </div>
                  </div>

                  <!-- Vertical type -->
                  <div class="detailArea">
                    <div class="detailTitle">
                      <h3>Vertical type</h3>
                      <p>주로 데이터 입력이 필요할 때 사용합니다.</p>
                    </div>

                    <div class="codeBox">
                      <div class="example align-row">
                        <div class="tableArea" style="width: 758px;">
                          <table class="dataTable" summery="Vertical type">
                            <caption>Vertical type 예시</caption>
                            <colgroup>
                              <col style="width: 160px;">
                              <col style="width: auto;">
                            </colgroup>
                            <tbody>
                              <tr>
                                <th>아이디</th>
                                <td><label class="inputBox"><input type="text" placeholder="Placeholder"></label></td>
                              </tr>
                              <tr>
                                <th>이름</th>
                                <td><label class="inputBox"><input type="text" placeholder="Placeholder"></label></td>
                              </tr>
                              <tr>
                                <th>권한 등급</th>
                                <td>
                                  <div class="formCol">
                                    <label class="customSelect">
                                      <select>
                                        <option value="0">Value</option>
                                      </select>
                                    </label>
                                    <label class="inputBox"><input type="text" placeholder="Placeholder"></label>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th>휴대폰 번호</th>
                                <td>
                                  <div class="formCol">
                                    <label class="customSelect">
                                      <select>
                                        <option value="0">010</option>
                                      </select>
                                    </label>
                                    <label class="inputBox"><input type="text" placeholder="Placeholder"></label>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="codeTab">
                        <a href="#" class="act">HTML</a>                      
                      </div>
                      <div class="codeCont">
                        <button type="button" class="ic-copy">클립보드에 복사</button>
                        <pre class="markup"><code class="markup-html">&lt;<span class="obj">div</span> class=<span class="cls">"tableArea"</span>&gt;
  &lt;<span class="obj">table</span> class=<span class="cls">"dataTable"</span>&gt;
    &lt;<span class="obj">colgroup</span>&gt;
    &lt;<span class="obj">col</span> style="width: 160px;"&gt;
    &lt;<span class="obj">col</span> style="width: auto;"&gt;
    &lt;/<span class="obj">colgroup</span>&gt;
    &lt;<span class="obj">tbody</span>&gt;
      &lt;<span class="obj">tr</span>&gt;
        &lt;<span class="obj">th</span>&gt;Title1&lt;/<span class="obj">th</span>&gt;
        &lt;<span class="obj"><span class="obj">td</span></span>&gt;Form Data Sample&lt;/<span class="obj"><span class="obj">td</span></span>&gt;
      &lt;/<span class="obj">tr</span>&gt;
      &lt;<span class="obj">tr</span>&gt;
        &lt;th&gt;Title2&lt;/th&gt;
        &lt;<span class="obj">td</span>&gt;Form Data Sample&lt;/<span class="obj">td</span>&gt;
      &lt;/<span class="obj">tr</span>&gt;
      &lt;<span class="obj">tr</span>&gt;
        &lt;th&gt;Title3&lt;/th&gt;
        &lt;<span class="obj">td</span>&gt;Form Data Sample&lt;/<span class="obj">td</span>&gt;
      &lt;/<span class="obj">tr</span>&gt;
      &lt;<span class="obj">tr</span>&gt;
        &lt;th&gt;Title4&lt;/th&gt;
        &lt;<span class="obj">td</span>&gt;Form Data Sample&lt;/<span class="obj">td</span>&gt;
      &lt;/<span class="obj">tr</span>&gt;
    &lt;/<span class="obj">tbody</span>&gt;
  &lt;/<span class="obj">table</span>&gt;
&lt;/<span class="obj">div</span>&gt;</code></pre>
                      </div>                    
                    </div>
                  </div>

                  <!-- Long text -->
                  <div class="detailArea longText">
                    <div class="detailTitle">
                      <h3>Long text</h3>
                    </div>

                    <div class="codeBox">
                      <div class="example align-row">
                        <div class="tableArea" style="width: 883px;">
                          <table class="longText" summery="Long text">
                            <caption>Long text 예시</caption>
                            <colgroup>
                              <col style="width: 75px;">
                              <col style="width: 75px;">
                              <col style="width: auto;">
                              <col style="width: 200px;">
                            </colgroup>
                            <thead>
                              <tr>
                                <th><label class="checkbox" for="check_06"><input type="checkbox" name="checkbox" id="check_06" hidden><i></i></label></th>
                                <th>번호</th>
                                <th>프로그램</th>
                                <th>기간</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><label class="checkbox" for="check_07"><input type="checkbox" name="checkbox" id="check_07" hidden checked><i></i></label></td>
                                <td>1</td>
                                <td><div class="ellipsis">Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text </div></td>
                                <td>2021.01.01 ~ 2021.12.31</td>
                              </tr>
                              <tr>
                                <td><label class="checkbox" for="check_08"><input type="checkbox" name="checkbox" id="check_08" hidden checked><i></i></label></td>
                                <td>2</td>
                                <td><div class="ellipsis">Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text </div></td>
                                <td>2021.01.01 ~ 2021.12.31</td>
                              </tr>
                              <tr>
                                <td><label class="checkbox" for="check_09"><input type="checkbox" name="checkbox" id="check_09" hidden checked><i></i></label></td>
                                <td>3</td>
                                <td><div class="ellipsis">This is program name</div></td>
                                <td>2021.01.01 ~ 2021.12.31</td>
                              </tr>
                              <tr>
                                <td><label class="checkbox" for="check_10"><input type="checkbox" name="checkbox" id="check_10" hidden checked><i></i></label></td>
                                <td>4</td>
                                <td><div class="ellipsis">This is program name</div></td>
                                <td>2021.01.01 ~ 2021.12.31</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="codeTab">
                        <a href="#" class="act">HTML</a>                      
                      </div>
                      <div class="codeCont">
                        <button type="button" class="ic-copy">클립보드에 복사</button>
                        <pre class="markup"><code class="markup-html">&lt;<span class="obj">div</span> class=<span class="cls">"tableArea longText"</span>&gt;
  &lt;<span class="obj">table</span> class=<span class="cls">"longText"</span>&gt;
    &lt;<span class="obj">colgroup</span>&gt;
      &lt;<span class="obj">col</span> style="width: 75px;"&gt;
      &lt;<span class="obj">col</span> style="width: 75px;"&gt;
      &lt;<span class="obj">col</span> style="width: auto;"&gt;
      &lt;<span class="obj">col</span> style="width: 200px;"&gt;
    &lt;/<span class="obj">colgroup</span>&gt;
    &lt;<span class="obj">thead</span>&gt;
      &lt;<span class="obj">tr</span>&gt;
        &lt;<span class="obj">th</span>&gt;title1&lt;/<span class="obj">th</span>&gt;
        &lt;<span class="obj">th</span>&gt;title2&lt;/<span class="obj">th</span>&gt;
        &lt;<span class="obj">th</span>&gt;title3&lt;/<span class="obj">th</span>&gt;
        &lt;<span class="obj">th</span>&gt;title4&lt;/<span class="obj">th</span>&gt;
      &lt;/<span class="obj">tr</span>&gt;
    &lt;/<span class="obj">thead</span>&gt;
    &lt;<span class="obj">tbody</span>&gt;
      &lt;<span class="obj">tr</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;1&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;<span class="obj">div</span> class=<span class="cls"><span class="cls">"ellipsis"</span></span>&gt;Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text &lt;/<span class="obj">div</span>&gt;&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;1&lt;/<span class="obj">td</span>&gt;
      &lt;/<span class="obj">tr</span>&gt;
      &lt;<span class="obj">tr</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;2&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;<span class="obj">div</span> class=<span class="cls">"ellipsis"</span>&gt;Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text Long text &lt;/<span class="obj">div</span>&gt;&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;/<span class="obj">td</span>&gt;
      &lt;/<span class="obj">tr</span>&gt;
      &lt;<span class="obj">tr</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;3&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;<span class="obj">div</span> class=<span class="cls">"ellipsis"</span>&gt;<span class="obj">th</span>is is program name&lt;/<span class="obj">div</span>&gt;&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;/<span class="obj">td</span>&gt;
      &lt;/<span class="obj">tr</span>&gt;
      &lt;<span class="obj">tr</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;4&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;<span class="obj">div</span> class=<span class="cls">"ellipsis"</span>&gt;<span class="obj">th</span>is is program name&lt;/<span class="obj">div</span>&gt;&lt;/<span class="obj">td</span>&gt;
        &lt;<span class="obj">td</span>&gt;&lt;/<span class="obj">td</span>&gt;
      &lt;/<span class="obj">tr</span>&gt;
    &lt;/<span class="obj">tbody</span>&gt;
  &lt;/<span class="obj">table</span>&gt;
&lt;/<span class="obj">div</span>&gt;</code></pre>
                      </div>                    
                    </div>
                  </div>

                  <!-- CSS download-->
                  <div class="detailArea">
                    <div class="detailTitle">
                      <h3>CSS</h3>
                      <p>해당 컴포넌트만 적용 가능한 CSS 파일입니다.</p>
                      <p class="point">resest.css 가 없을 경우 깨질 수 있습니다. 컴포넌트 메인페이지에서 reset.css 파일을 다운로드 받아서 사용하세요.</p>
                    </div>

                    <div class="grayBox cssDown">
                      <a href="#" onclick="downloadCssZip()">table.css</a>
                      <button type="button" class="ic-down" onclick="downloadCssZip()">파일 다운로드</button>
                    </div>
                  </div>
                  <!--// CSS download -->

                </div>
                <!--// Code -->
              </div>
              <!--// 탭컨텐츠 -->

            </div>
          </div>
        </div>
        <!--// contents -->

        <!-- footer -->
        <div class="footer">Copyright © Contentree JoongAng</div>
        <!--// footer -->
      </div>
    </div>
    
    <script src="../assets/js/jquery-3.7.0.min.js"></script>
    <script src="../assets/js/include_header.js"></script>
    <script src="../assets/js/include_lnb.js"></script>
    <script src="../assets/js/ui.js"></script>
    
    <script>
      $(document).ready(function(){
        // Load initial content
        $("#header").html(header_html);
        $("#lnb").html(lnb_html);
        lnbnav(2, 4);

        function lnbnav(main, sub) {
          const menuBox = $('#lnb').find('.menuBox').eq(main);
          menuBox.addClass('act');
          menuBox.find('ul li').eq(sub).addClass('act');
        }

        // Toggle theme
        const setTheme = (theme) => {
          const htmlElement = document.documentElement;
          htmlElement.className = theme;
          const button = $('button[title="Toggle theme"]');
          button.text(theme === 'dark' ? '라이트 모드' : '다크 모드');
          localStorage.setItem('theme', theme);  // Save theme to local storage
        };

        // Bind click event to toggle button
        $('button[title="Toggle theme"]').click(function () {
          const currentTheme = document.documentElement.className;
          setTheme(currentTheme === 'dark' ? 'light' : 'dark');
        });

        // Load theme from local storage if exists
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
          setTheme(savedTheme);
        }
      });
        
      function downloadCssZip() {
        // Create a link element
        const link = document.createElement('a');
        link.href = '../assets/download/table.zip'; // Replace with the actual path to your icon.zip file
        link.download = 'table.zip'; // Set the desired filename for download
        link.click(); // Trigger the download
      }
      
      
      // 드롭다운 관련
      function initCustomSelect() {
        const customSelects = document.querySelectorAll(".customSelect");
        if (!customSelects.length) return;

        customSelects.forEach(customSelect => {
            const selectElement = customSelect.querySelector("select");
            const selectLength = selectElement.length;

            const selectSelected = document.createElement("div");
            selectSelected.className = "selectSelected";
            selectSelected.innerHTML = selectElement.options[selectElement.selectedIndex].innerHTML;
            if (selectElement.disabled) selectSelected.classList.add("disabled");
            customSelect.appendChild(selectSelected);

            const selectItems = document.createElement("div");
            selectItems.className = "selectItems selectHide";
            const selectItemsList = document.createElement("ul");
            selectItemsList.className = "selectItemsList";
            selectItems.appendChild(selectItemsList);

            for (let j = 1; j < selectLength; j++) {
                const selectOption = document.createElement("li");
                selectOption.innerHTML = selectElement.options[j].innerHTML;
                selectOption.addEventListener("click", function () {
                    const parentSelect = this.closest(".customSelect").querySelector("select");
                    parentSelect.selectedIndex = Array.from(parentSelect.options).findIndex(option => option.innerHTML === this.innerHTML);
                    selectSelected.innerHTML = this.innerHTML;
                    selectItemsList.querySelectorAll("li").forEach(item => item.classList.remove("sameAsSelected"));
                    this.classList.add("sameAsSelected");
                    selectSelected.click();
                });
                selectItemsList.appendChild(selectOption);
            }
            customSelect.appendChild(selectItems);

            selectSelected.addEventListener("click", function (e) {
                if (this.classList.contains("disabled")) return;
                e.stopPropagation();
                closeAllSelect(this);
                this.nextElementSibling.classList.toggle("selectHide");
                this.classList.toggle("selectArrowActive");
            });
        });

        function closeAllSelect(elmnt) {
            document.querySelectorAll(".selectItems").forEach((selectItem, index) => {
                if (selectItem.previousElementSibling !== elmnt) {
                    selectItem.classList.add("selectHide");
                    selectItem.previousElementSibling.classList.remove("selectArrowActive");
                }
            });
        }

        document.addEventListener("click", closeAllSelect);
      }

      document.addEventListener('DOMContentLoaded', initCustomSelect);
    </script>
  </body>
</html>
