<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contentree JoongAng Design System</title>

    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <div id="header">
      </div>
      <!--// header -->

      <div id="container">
        <!-- leftMenu -->
        <div id="lnb" class="leftMenu"></div>
        <!--// leftMenu -->        

        <!-- contents -->
        <div class="contentWrap">
          <div class="contentArea component">
            <!-- 타이틀영역 -->
            <div class="titleBox">
              <h2>Tabs</h2>
              <p>탭(Tabs)은 페이지 내 유사한 정보를 그룹핑하여 콘텐츠를 정리할 때 사용합니다.</p>
            </div>
            <!--// 타이틀영역 -->

            <!-- 오브젝트 박스 -->
            <div class="objectBox sky alignBottom              right">
              <img src="../assets/images/guide/tabs.png" alt="">
            </div>
            <!--// 오브젝트 박스 -->

            <!-- 탭메뉴 -->
            <div class="tabMenu">
              <button class="act"><span>Design guide</span></button>
              <button><span>Examples</span><span class="label">code</span></button>
            </div>
            <!--// 탭메뉴 -->

            <div class="tabContainer">
              <!-- Disign Guide -->
              <div class="designGuide">
                <!-- Anatomy -->
                <div class="detailArea">
                  <div class="detailTitle">
                    <h3>Anatomy</h3>
                  </div>                  
  
                  <div class="grayContBox spliterWrap tabsAnatomy" style="height: 238px;">
                    <div class="alignCenter">
                      <div class="tabs textType">
                        <a href="#" class="act">tab 1</a>
                        <a href="#">tab 2</a>
                      </div>
                    </div>

                    <div class="alignCenter">
                      <div class="tabs boxType">
                        <a href="#" class="act">tab 1</a>
                        <a href="#">tab 2</a>
                      </div>
                    </div>

                    <div class="guidePoint" style="left: 126px; top: 105px;"></div>
                  </div>

                  <div class="itemBox">
                    <div>
                      <p class="title">1. Text area</p>
                      <p>탭의 내용을 표시하는 영역입니다. 색상 등을 사용하여 선택한 탭을 강조 표시할 수 있습니다.</p>
                    </div>
                    <div>
                      <p class="title">2. Selected border</p>
                      <p>활성 탭과 비활성 탭을 구분하기 위해 다른 색상을 적용할 수 있습니다.</p>
                    </div>
                    <div>
                      <p class="title">3. Box tabs</p>
                      <p>Box type tabs ui 입니다.</p>
                    </div>
                  </div>
                </div>
                <!--// Anatomy -->

                <!-- Spec -->
                <div class="detailArea">
                  <div class="detailTitle">
                    <h3>Spec</h3>
                  </div>

                  <div class="itemBox colBox">
                    <div class="detailArea">
                      <h4>Text type</h4>
                      <div class="grayContBox tabsTextSpec" style="height: 172px;">
                        <div class="tabs textType">
                          <a href="#" class="act">tab 1</a>
                          <a href="#">tab 2</a>
                          <a href="#">tab 3</a>
                          <a href="#">tab 4</a>
                          <a href="#">tab 5</a>
                        </div>
                        <div class="guidePoint" style="left: 87px; top: 59px;"></div>
                      </div>
                      <div class="commentTxt">
                        <p>Text type 탭은 24px 간격으로 나열합니다.</p>
                      </div>
                    </div>
                    
                    <div class="detailArea">
                      <h4>Box type</h4>
                      <div class="grayContBox tabsBoxSpec" style="height: 172px;">
                        <div class="tabs boxType">
                          <a href="#"class="act">tab 1</a>
                          <a href="#">tab 2</a>
                          <a href="#">tab 3</a>
                          <a href="#">tab 4</a>
                          <a href="#">tab 5</a>
                        </div>
                        <div class="guidePoint" style="left: 135px; top: 49px;"></div>
                      </div>
                      <div class="commentTxt">
                        <p>Box type 탭은 Text area를 기준으로 상∙하 8px, 좌∙우 10px의 패딩 값을 가집니다.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--// Spec -->

                <!-- Type -->
                <div class="detailArea">
                  <div class="detailTitle">
                    <h3>Type</h3>
                    <p>탭 구성 요소에 따라 텍스트 유형, 상자 유형으로 구분됩니다.</p>
                  </div>

                  <div class="itemBox">
                    <h4>Text type</h4>
                    <div class="borderBox" style="height: 170px; background-color: white;">
                      <div class="tabs textType" id="tabs1">
                        <a href="#" class="act">tab 1</a>
                        <a href="#">tab 2</a>
                        <a href="#">tab 3</a>
                        <a href="#">tab 4</a>
                        <a href="#">tab 5</a>
                      </div>
                    </div>
                  </div>

                  <div class="itemBox">
                    <h4>Box type</h4>
                    <div class="borderBox" style="height: 170px; background-color: white;">
                      <div class="tabs boxType" id="tabs2">
                        <a href="#" class="act">tab 1</a>
                        <a href="#">tab 2</a>
                        <a href="#">tab 3</a>
                        <a href="#">tab 4</a>
                        <a href="#">tab 5</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--// Type -->

                <!-- States -->
                <div class="detailArea">
                  <div class="detailTitle">
                    <h3>States</h3>
                  </div>

                  <div class="grayContBox borderBox" style="height: 224px; background-color: white; gap: 48px;">
                    <div class="group" style="gap: 16px;">
                      <div class="tabs textType">
                        <a href="#">tab 1</a>
                      </div>
                      <div class="tabs textType">
                        <a href="#" class="act">tab 1</a>
                      </div>
                    </div>
                    <div class="group" style="gap: 16px;">
                      <div class="tabs boxType">
                        <a href="#">tab 1</a>
                      </div>
                      <div class="tabs boxType">
                        <a href="#" class="act">tab 1</a>
                      </div>
                    </div>
                    <div class="guideTextCol" style="left: 294px; top: 80px; gap: 30px;">
                      <span>Default</span>
                      <span>Selected</span>
                    </div>
                  </div>
                </div>
                <!--// States -->

              </div>
              <!--// Disign Guide -->

              <!-- Code -->
              <div class="examples" style="display: none;">
<!-- Text type tabs -->
                <div class="detailArea">
                  <div class="detailTitle">
                    <h3>Text type tabs</h3>
                  </div>
                  
                  <div class="codeBox">
                    <div class="example align-row">
                      <div class="tabs textType" id="tabs1">
                        <a href="#" class="act">tab 1</a>
                        <a href="#">tab 2</a>
                        <a href="#">tab 3</a>
                        <a href="#">tab 4</a>
                        <a href="#">tab 5</a>
                      </div>
                    </div>
                    <div class="codeTab" id="codeTab1">
                      <a href="#" class="act" id="html1">HTML</a>
                      <a href="#" id="script1">JavaScript</a>                
                    </div>
                    <div class="codeCont" id="codeHTML1">
                      <button type="button" class="ic-copy">클립보드에 복사</button>
                      <pre class="markup"><code class="markup-html">&lt;<span class="obj">div</span> class=<span class="cls">"tabs textType"</span> id="tabs"&gt;
  &lt;<span class="obj">a</span> href="#" class=<span class="cls">"act"</span>&gt;tab 1&lt;/<span class="obj">a</span>&gt;
  &lt;<span class="obj">a</span> href="#"&gt;tab 2&lt;/<span class="obj">a</span>&gt;
  &lt;<span class="obj">a</span> href="#"&gt;tab 3&lt;/<span class="obj">a</span>&gt;
  &lt;<span class="obj">a</span> href="#"&gt;tab 4&lt;/<span class="obj">a</span>&gt;
  &lt;<span class="obj">a</span> href="#"&gt;tab 5&lt;/<span class="obj">a</span>&gt;
&lt;/<span class="obj">div</span>&gt;</code></pre>
                    </div>

                    <div class="codeCont" id="codeJS1" style="display: none;">
                      <button type="button" class="ic-copy">클립보드에 복사</button>
                      <pre class="script"><code class="javascript">const tabs = document.querySelectorAll('.tabs a');
tabs.forEach(tab => {
  tab.addEventListener('click', () => {
    // 모든 탭에서 'act' 클래스 제거
    tabs.forEach(t => t.classList.remove('act'));
    // 클릭된 탭에 'act' 클래스 추가
    tab.classList.add('act');
  });
});</code></pre>
                    </div>
                  </div>
                </div>

<!-- Box type tabs -->
                <div class="detailArea">
                  <div class="detailTitle">
                    <h3>Box type tabs</h3>
                  </div>
                  
                  <div class="codeBox">
                    <div class="example align-row">
                      <div class="tabs boxType" id="tabs2">
                        <a href="#" class="act">tab 1</a>
                        <a href="#">tab 2</a>
                        <a href="#">tab 3</a>
                        <a href="#">tab 4</a>
                        <a href="#">tab 5</a>
                      </div>
                    </div>
                    <div class="codeTab" id="codeTab2">
                      <a href="#" class="act" id="html2">HTML</a>
                      <a href="#" id="script2">JavaScript</a>                
                    </div>
                    <div class="codeCont" id="codeHTML2">
                      <button type="button" class="ic-copy">클립보드에 복사</button>
                      <pre class="markup"><code class="markup-html">&lt;<span class="obj">div</span> class=<span class="cls">"tabs boxType"</span> id="tabs"&gt;
  &lt;<span class="obj">a</span> href="#" class=<span class="cls">"act"</span>&gt;tab 1&lt;/<span class="obj">a</span>&gt;
  &lt;<span class="obj">a</span> href="#"&gt;tab 2&lt;/<span class="obj">a</span>&gt;
  &lt;<span class="obj">a</span> href="#"&gt;tab 3&lt;/<span class="obj">a</span>&gt;
  &lt;<span class="obj">a</span> href="#"&gt;tab 4&lt;/<span class="obj">a</span>&gt;
  &lt;<span class="obj">a</span> href="#"&gt;tab 5&lt;/<span class="obj">a</span>&gt;
&lt;/<span class="obj">div</span>&gt;</code></pre>
                    </div>

                    <div class="codeCont" id="codeJS2" style="display: none;">
                      <button type="button" class="ic-copy">클립보드에 복사</button>
                      <pre class="script"><code class="javascript">const tabs = document.querySelectorAll('.tabs a');
tabs.forEach(tab => {
  tab.addEventListener('click', () => {
    // 모든 탭에서 'act' 클래스 제거
    tabs.forEach(t => t.classList.remove('act'));
    // 클릭된 탭에 'act' 클래스 추가
    tab.classList.add('act');
  });
});</code></pre>
                    </div>                    
                  </div>
                </div>

                <!-- CSS download-->
                <div class="detailArea">
                  <div class="detailTitle">
                    <h3>CSS</h3>
                    <p>해당 컴포넌트만 적용 가능한 CSS 파일입니다.</p>
                    <p class="point">resest.css 가 없을 경우 깨질 수 있습니다. 컴포넌트 메인페이지에서 reset.css 파일을 다운로드 받아서 사용하세요.</p>
                  </div>

                  <div class="grayBox cssDown">
                    <a href="#" onclick="downloadCssZip()">tabs.css</a>
                    <button type="button" class="ic-down" onclick="downloadCssZip()">파일 다운로드</button>
                  </div>
                </div>
                <!--// CSS download -->

              </div>
              <!--// Code -->
            </div>

          </div>
        </div>
        <!--// contents -->

        <!-- footer -->
        <div class="footer">Copyright © Contentree JoongAng</div>
        <!--// footer -->
      </div>
    </div>
    
    <script src="../assets/js/jquery-3.7.0.min.js"></script>
    <script src="../assets/js/include_header.js"></script>
    <script src="../assets/js/include_lnb.js"></script>
    <script src="../assets/js/ui.js"></script>
    
    <script>
      $(document).ready(function(){
        // Load initial content
        $("#header").html(header_html);
        $("#lnb").html(lnb_html);
        lnbnav(2,13);

        function lnbnav(main, sub) {
          const menuBox = $('#lnb').find('.menuBox').eq(main);
          menuBox.addClass('act');
          menuBox.find('ul li').eq(sub).addClass('act');
        }
        
        // Toggle theme
        const setTheme = (theme) => {
            const htmlElement = document.documentElement;
            htmlElement.className = theme;
            const button = $('button[title="Toggle theme"]');
            button.text(theme === 'dark' ? '라이트 모드' : '다크 모드');
            localStorage.setItem('theme', theme);  // Save theme to local storage
          };

          // Bind click event to toggle button
          $('button[title="Toggle theme"]').click(function () {
            const currentTheme = document.documentElement.className;
            setTheme(currentTheme === 'dark' ? 'light' : 'dark');
          });

          // Load theme from local storage if exists
          const savedTheme = localStorage.getItem('theme');
          if (savedTheme) {
            setTheme(savedTheme);
        }
    });    
        
    function downloadCssZip() {
      // Create a link element
      const link = document.createElement('a');
      link.href = '../assets/download/tabs.zip'; // Replace with the actual path to your icon.zip file
      link.download = 'tabs.zip'; // Set the desired filename for download
      link.click(); // Trigger the download
    }
    </script>
  </body>
</html>
